// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
}

.social-btn {
  position: absolute;
//  display: ;
  height: 60px;
  width: 400px;
  background: blue;
  border: 2px;
  color: white;
  text-align: center;
  font: Arial;
  padding: 20px;
  border-color: black;
  font-weight: bold;
}
